/* Navbar.css */
.sidebar {
  width: 250px;
  background-color: var(--color-blanc-1);
  color: var(--color-noir);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.entete {
  padding: 20px;
  display: flex;
  align-items: center;
}

.entete img {
  width: 50px;
  margin-right: 10px;
}

.separator {
  border-top: 1px solid var(--color-vert-3);
  margin: 10px 0;
}

.nav {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav a {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .75;
  padding: 10px 0;
  color: var(--color-noir);
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--color-vert-2);
  color: var(--color-blanc);
}

.nav a.active-link {
  color: var(--color-vert-2);
  background-color: var(--color-blanc);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .35);
  display: inline-flex;
  width: max-content;

  padding:10px 25px;

}

nav p{
  margin: 10px 2px;
  font-weight: 500px;
  color: #292929;
  padding-top: 20px;
}

.nav i{
  margin-right: 5px;
}